<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="media_player"/>

    <!--<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
    <bean class="media_player.bpp.ShuffleAnnotaionBeanPostProcessor"/>
    <bean class="media_player.bpp.BenchmarkAnnotationBeanPostProcessor"/>
    <!--<bean class="media_player.bfpp.DeprecatedClassAnnotationBeanFactoryPostProcessor"/>-->

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <!--<context:property-placeholder location="classpath:application.properties"/>-->

    <bean id="queenDisk" class="media_player.DiskFactory">
        <constructor-arg name="title" value="${title}"/>
        <constructor-arg name="songs">
            <list>
                <value>1. Show must go on</value>
                <value>2. We will rock you</value>
                <value>3. Bycicle</value>
            </list>
        </constructor-arg>
    </bean>


</beans>